<a href="https://colab.research.google.com/github/Rashiduzzaman2655/OOP-Python-Lab-work--DIU/blob/master/Control_Statement(week_2).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **IF statement**

---

In [ ]:
grade = 76
if grade>=60:
  print("passed")

passed

# **If else statement**

---

In [ ]:
grade =float(input("Enter your mark: "))
if grade>=33:
  print("passed")
else:
  print("fail")

Enter your mark: 32
fail

In [ ]:
Input=int(input("Enter any integer value:"))
if Input%2==0:
    print("Even")
else:
    print("odd")

Enter any integer value:45
odd

#Logical Operator
and, or

In [ ]:
#find Maximum Number
num1=32
num2=34
num3=45
if num1>num2 and num1>num3:
    print("Maximum Number: ",num1)
elif num2>num1 and num2>num3:
    print("Maximum Number: ",num2)
else:
    print("Maximum Number: ",num3)

Maximum Number:  45

In [ ]:
#find Minimum number
num1=32
num2=34
num3=45
if num1<num2 and num1<num3:
    print("Minimum Number: ",num1)
elif num2<num1 and num2<num3:
    print("Minimum Number: ",num2)
else:
    print("Minimum Number: ",num3)

Minimum Number:  32

In [ ]:
#find maximum number using ternary operator
num1=32
num2=34
max= num1 if num1>num2 else num2
print("Maximum Number: ",max)

Maximum Number:  34

#Conditional Statement

In [ ]:
mark=float(input("Enter your mark: "))
if mark>=80:
  print("A+")
elif mark>=70:
  print("A")
elif mark>=60:
  print("A-")
elif mark>=50:
  print("B")
elif mark>=40:
  print("C")
elif mark>=33:
  print("D")
else:
  print("F")

Enter your mark: 88
A+

In [ ]:
ch= input("Enter any character: ");
if ch=='a' or ch=='e' or ch=='i' or ch=='o' or ch=='u' or ch=='A' or  ch=='E' or ch=='I' or ch=='O' or ch=='U':
    print("vowel")
else:
    print("consonant")

Enter any character: a
vowel

# **While Statement**

---

In [ ]:
number = 1

while (number<10):
  print(number, end=" ") #print in same line with space using end =" "
  number+=1

1 2 3 4 5 6 7 8 9

In [ ]:
num =1
while(num<=20):
  print(num, end=" ")
  num+=1

1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20

In [ ]:
#find even number form 1 to 100
num=1
while (num<=100):
    if num%2==0:
     print(num,end=" ")
    num+=1

2 4 6 8 10 12 14 16 18 20 22 24 26 28 30 32 34 36 38 40 42 44 46 48 50 52 54 56 58 60 62 64 66 68 70 72 74 76 78 80 82 84 86 88 90 92 94 96 98 100

In [ ]:
#find odd number form 1 to 100
num=1
while (num<=100):
    if num%2!=0:
     print(num,end=" ")
    num+=1

1 3 5 7 9 11 13 15 17 19 21 23 25 27 29 31 33 35 37 39 41 43 45 47 49 51 53 55 57 59 61 63 65 67 69 71 73 75 77 79 81 83 85 87 89 91 93 95 97 99

In [ ]:
last=int(input())
i =1
sum=0
while(i<=last):
  sum+=i
  i+=1
print(f"{1} to {last} summation result: ",sum)

20
1 to 20 summation result:  210

*while statement to find the first power of 3 larger than 50:*

In [ ]:
product = 3

while product<=50:
  product = product*3

In [ ]:
print(product)

81

# **For statement**

---

In [ ]:
name="Bangladesh"
for x in name:
    print(x,end=" ")

B a n g l a d e s h

*Built in Range Function*

*Let’s use a for statement and the built-in range function to iterate precisely 10 times, displaying the values from 0 through 9:*

In [ ]:
for counter in range(20):
  print(counter, end=" ")

0 1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19

Use the range function and a for statement to calculate the total of the integers from 0 through 1,000,000.

In [ ]:
total = 0
for number in range(100):
  total = total+number

print(total)

4950

Function range also has two- and three-argument versions. As you’ve seen, range’s one argument version produces a sequence of consecutive integers from 0 up to, but not including, the argument’s value. Function range’s two-argument version produces a sequence of consecutive integers from its first argument’s value up to, but not including, the second argument’s value, as in:

In [ ]:
for number in range(1,11):
  print(number, end=" ")

1 2 3 4 5 6 7 8 9 10

Function range’s three-argument version produces a sequence of integers from its first argument’s value up to, but not including, the second argument’s value, incrementing by the third argument’s value, which is known as the step:

In [ ]:
for number in range(0,10,2):
  print(number, end=" ")

0 2 4 6 8

If the third argument is negative, the sequence progresses from the first argument’s value down to, but not including the second argument’s value, decrementing by the third argument’s value, as in:

In [ ]:
for number in range(10,0,-2):
  print(number, end=" ")

10 8 6 4 2

*Number table print using range function*


---



---



Take an input from user and print the number table

In [ ]:
number =  int(input())

87

In [ ]:
num=int(input("Enter any integer number: "))
for i in range(1,11):
    print(f"{num} X {i} = ",num*i)

Enter any integer number: 12
12 X 1 =  12
12 X 2 =  24
12 X 3 =  36
12 X 4 =  48
12 X 5 =  60
12 X 6 =  72
12 X 7 =  84
12 X 8 =  96
12 X 9 =  108
12 X 10 =  120

*Nested For Loop*


---

In [ ]:
for left in range(8):
    for right in range(left,8):
        print("["+str(left)+"|"+str(right)+"]", end =" ")
    print()

[0|0] [0|1] [0|2] [0|3] [0|4] [0|5] [0|6] [0|7]
[1|1] [1|2] [1|3] [1|4] [1|5] [1|6] [1|7]
[2|2] [2|3] [2|4] [2|5] [2|6] [2|7]
[3|3] [3|4] [3|5] [3|6] [3|7]
[4|4] [4|5] [4|6] [4|7]
[5|5] [5|6] [5|7]
[6|6] [6|7]
[7|7]

Break statement

In [ ]:
for number in range(20):
  if  number==15:
    break
  print(number, end=" ")

0 1 2 3 4 5 6 7 8 9 10 11 12 13 14

Continue statement

In [ ]:
for number in range(10):
  if  number==5:
    continue
  print(number, end=" ")

0 1 2 3 4 6 7 8 9

# **Beginner Problem solving from Uri Online Judge**


---

# [Uri Online Judge](https://www.urionlinejudge.com.br/judge/en/problems/index/1)


---


> Some basic problem for practice


> [Extremely Basic](https://www.urionlinejudge.com.br/judge/en/problems/view/1001)


> [Area of a Circle](https://www.urionlinejudge.com.br/judge/en/problems/view/1002)

> [Difference](https://www.urionlinejudge.com.br/judge/en/problems/view/1007)

> [Age in Days](https://www.urionlinejudge.com.br/judge/en/problems/view/1020)

#Uri problem solving

#Extremely Basic problem (uri 1001)

In [ ]:
A=int(input())
B=int(input())
X=A+B
print("X = %i"%X)

10
9
X = 19

#Area of circle(uri 1002)

In [ ]:
n=float(input())
A=3.14159*n*n
print("A=%.4f"%A)

100.2
A=31541.6893

#Difference (uri 1007)

In [ ]:
A=int(input())
B=int(input())
C=int(input())
D=int(input())

result=(A*B) -(C*D)
print("DIFERENCA = %i"%result)

5
6
7
8
DIFERENCA = -26

#Age in Days(uri 1020)

In [ ]:
a=int(input())
y=a/365
tem1=a%365
m=tem1/30
tem2=tem1%30
print("%d ano(s)"%y)
print("%d mes(es)"%m)
print("%d dia(s)"%tem2)

800
2 ano(s)
2 mes(es)
10 dia(s)