<a href="https://colab.research.google.com/github/Rashiduzzaman2655/OOP-Python-Lab-work--DIU/blob/master/Introduction(week_1).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#"Hellow world program"

In [ ]:
print("shakil")

shakil

#"Assignment Statement"

In [ ]:
num1=10.34
num2=34.3
sum=num1+num2
print("summation result: ",sum)

summation result:  44.64

In [ ]:
f_name="Rashiduzzaman "
last_name="shakil"
full_name=f_name+last_name;
print("Name: ",full_name)

Name:  Rashiduzzaman shakil

In [ ]:
name="Rashiduzzaman"
id="191-15-2655"
section="pc-C"
print("Student Information:\n\nName: "+name+"\nId: "+id+"\nSection: "+section)

Student Information:

Name: Rashiduzzaman
Id: 191-15-2655
Section: pc-C

In [ ]:
name="Rashiduzzaman"
age=24
blood_group="B+"
cell="01790430119"
print("Name: "+name+"\nAge: ",age)
"""
when you want to print a string than you use '+' 
symbol but if you want to print a non string value 
than you must to use ',' comma symbol,otherwise you face a error.
"""
print("Blood Group: "+blood_group+"\nCell: "+cell)

Name: Rashiduzzaman
Age:  24
Blood Group: B+
Cell: 01790430119

#Find the Data Type

In [ ]:
#find integer
x=3
type(x)

int

In [ ]:
#find String
x="Daffodil International University"
type(x)

str

In [ ]:
#find float
x=4.09999999
type(x)

float

In [ ]:
#find Boolean
x=True
type(x)

bool

#Input From User

In [ ]:
f_name= input("Enter your first name: ")
l_name=input("Enter your last name: ")
name=f_name+l_name;
print(name)

Enter your first name: shakil
Enter your last name: ahmed
shakilahmed

In [ ]:
num1=input("Enter first number: ")
num2=input("Enter sceond number: ")
sum=num1+num2
print(sum)

Enter first number: 12
Enter sceond number: 32
1232

In [ ]:
num1=input("Enter first number")
num2=input("Enter sceond number")
sum=(int(num1))+(int(num2))
print("Sum :",sum)

Enter first number12
Enter sceond number22
Sum : 34

In [ ]:
num1=float(input("Enter first number"))
num2=float(input("Enter sceond number"))
sum=num1+num2
print("Sum :",sum)

Enter first number12.345
Enter sceond number24.432
Sum : 36.777

# Arithmatic Operators

In [ ]:
#Addition
add=(12+324)
print(add)

336

In [ ]:
#subtraction
sub=23-43
print(sub)

In [ ]:
#Multiplication
multiplication=21*6
print(multiplication)

126

In [ ]:
#division
division=123/4
print(division)

30.75

In [ ]:
"""Remainder:
The remainder is the amount "left over" after performing some computation.It is denoted by '%'
 """
remainder=27%4
print(remainder)

3

In [ ]:
"""floor: This python math floor function is used to return the closest integer value which is less than or equal to the specified expression or Value.
it is defined by '//'  """

x=34//3
print(x)

11

In [ ]:
"""Exponential. 
suppose 2**3 that means 2*2*2
"""
x=6**3
print(x)

216

In [ ]:
#find power
x=pow(5,2)
print(x)

25

In [ ]:
#find square
# when we use sqrt() method then we must be import math library .
from math import*
value=225
result=sqrt(value)
print(result)

15.0

In [ ]:
#abs() method.The abs() function is used to return the absolute value of a number.
num=abs(-234.2534)
print(num)

234.2534

#Relational Operator

In [ ]:
num1=23
num2=78
num1>num2

False

In [ ]:
num1<num2

True

In [ ]:
num1==num2

False

In [ ]:
num1>=num2

False

In [ ]:
num1<=num2

True

In [ ]:
num1!=num2

True

In [ ]:
20<num1<=34

True

#Solving problem

Determining the Minimum and Maximum with Built-In Functions min and max

In [ ]:
num1=int(input("Enter first Number: "))
num2=int(input("Enter second Number: "))
num3=int(input("Enter Third Number: "))

max(num1,num2,num3)

Enter first Number: 3
Enter second Number: 543
Enter Third Number: 34

543

In [ ]:
min(num1,num2,num3)

3

#Exercise

Create the variables x = 2 and y = 3, then determine what each of the following statements displays:

. print('x =', x)

. print('Value of', x, '+', x, 'is', (x + x))

. print('x =')

. print((x + y), '=', (y + x))

In [ ]:
print('x =', x)

x = 2

In [ ]:
print('Value of', x, '+', x, 'is', (x + x))

Value of 2 + 2 is 4

In [ ]:
print('x =')

x =

In [ ]:
print((x + y), '=', (y + x))

5 = 5