<a href="https://colab.research.google.com/github/Rashiduzzaman2655/OOP-Python-Lab-work--DIU/blob/master/Week_4(lab%20work).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [43]:
#creating list

lst0=["apple","orrange","banana","coconut","water-melon"]
print(lst0)
lst1=[]
print(lst1)
lst2=lst0
print(lst2)

['apple', 'orrange', 'banana', 'coconut', 'water-melon']
[]
['apple', 'orrange', 'banana', 'coconut', 'water-melon']

In [44]:
#iterating list

lst0=[78,-78,97,2.23,"android",43.23,"java",[2,32,3]]
for i in lst0:
    print(i,end=' ')
print('')

78 -78 97 2.23 android 43.23 java [2, 32, 3]

In [1]:
#iterating list

lst0=[1,2,3,32,2.23,43.23,"python",[2,32,3]]
print(lst0[2])
print(lst0[6])
print(lst0[-2])
print(lst0[-7])

3
python
python
2

In [57]:
#List operations

lst0=[25,'Rashiduzzaman',197,25,-35,55.43,[52,48]]

print(len(lst0))                #len( ) gives the length of the list

lst0.append(['191-15-2655',488,80])        #append( ) inserts an element to the end of the list
print(lst0)

lst0.insert(2,"java")         #insert( ) insertes an element on a given index
print(lst0)

lst0.remove("java")                  #remove( ) removes first occurence of an element
print(lst0)

print(lst0.index("Rashiduzzaman"))     #index( ) returns index of first occurence of an element

print(lst0.count(25))     #count( ) reuturns the number of occurence of an element

print(lst0.reverse())           #reverse( ) makes a reverse list

lst1=lst0.copy()                #copy( ) makes a copy of list
print(lst1)

lst0.clear()                    #clear( ) makes the list empty
print(lst0)

7
[25, 'Rashiduzzaman', 197, 25, -35, 55.43, [52, 48], ['191-15-2655', 488, 80]]
[25, 'Rashiduzzaman', 'java', 197, 25, -35, 55.43, [52, 48], ['191-15-2655', 488, 80]]
[25, 'Rashiduzzaman', 197, 25, -35, 55.43, [52, 48], ['191-15-2655', 488, 80]]
1
2
None
[['191-15-2655', 488, 80], [52, 48], 55.43, -35, 25, 197, 'Rashiduzzaman', 25]
[]

In [46]:
list=[12,5,-45,4]
sort_list=sorted(list)
print(sort_list)
list.insert(2,29)
print(list)
list.append("Rashiduzzaman")
print(list)
copy_list=list.copy()
print(copy_list)
list.reverse()
print(list)

[-45, 4, 5, 12]
[12, 5, 29, -45, 4]
[12, 5, 29, -45, 4, 'Rashiduzzaman']
[12, 5, 29, -45, 4, 'Rashiduzzaman']
['Rashiduzzaman', 4, -45, 29, 5, 12]

In [50]:
#lsit slicing

lst0=[3,32,78,-78,97,2.23,"android",43.23,"java"]

print(lst0[2:7])
print(lst0[2:])
print(lst0[:5])
print(lst0[:])

[78, -78, 97, 2.23, 'android']
[78, -78, 97, 2.23, 'android', 43.23, 'java']
[3, 32, 78, -78, 97]
[3, 32, 78, -78, 97, 2.23, 'android', 43.23, 'java']

In [54]:
#list sorting

lst2=[78,-78,97,2.23,78,43.23,-78]

lst3=sorted(lst2)
print(lst3)
print(lst2)
lst2.sort()
print(lst2)

[-78, -78, 2.23, 43.23, 78, 78, 97]
[78, -78, 97, 2.23, 78, 43.23, -78]
[-78, -78, 2.23, 43.23, 78, 78, 97]

In [55]:
#creating tuple

tp0=(1,2,3,32,2.23,43.23,"python",[2,32,3])
print(tp0)
tp1=()
print(tp1)
tp2=tuple()
print(tp2)

(1, 2, 3, 32, 2.23, 43.23, 'python', [2, 32, 3])
()
()

In [ ]:
#iterating tuple

tp0=(1,2,3,32,2.23,43.23,"python",[2,32,3])
for i in tp0:
    print(i,end=' ')
print('')

1 2 3 32 2.23 43.23 python [2, 32, 3]

In [19]:
#iterating tuple

tp0=(40,-20,56,-189,23.54,"java",[98,33])
print(tp0[2])
print(tp0[6])
print(tp0[-2])
print(tp0[-2])

56
[98, 33]
java
java

In [21]:
#inserting into tuple

tp0=(40,-20,56,-189,23.54,"java",[98,33])
tp0+=("Android",22,43,312,87)
print(tp0)

(40, -20, 56, -189, 23.54, 'java', [98, 33], 'Android', 22, 43, 312, 87)

In [27]:
#unpacking sequences

lst=[21.6,334,4.5,69.3,'Rashiduzzaman','191-15-2655']
a,b,c,d,e,f=lst
print(a)
print(b)
print(c)
print(d)
print(e)
print(f)

21.6
334
4.5
69.3
Rashiduzzaman
191-15-2655

In [26]:
#unpacking sequences

tp=(12.4,3,"Diu",4.13,66)
a,b,c,d,e=tp
print(a)
print(b)
print(c)
print(d)
print(e)

12.4
3
Diu
4.13
66